                <button onclick="location.href='/select'">조회 페이지로 이동</button >
                <button onclick="location.href='/insert'">입력 페이지로 이동</button >
                <button onclick="location.href='/update'">수정 페이지로 이동</button >
                <button onclick="location.href='/delete'">삭제 페이지로 이동</button >
                <button onclick="location.href='/'">로그아웃</button >
<h1>{{ title }}</h1>
<table>
    <tr>
        <td>항공사 번호</td>
        <td>운항 경로 번호</td>
        <td>날짜</td>
        <td>항공기 번호</td>
    </tr>
  {{#each Instance}}
    <tr>
      <td>{{Flight_number}}</td>
      <td>{{Leg_number}}</td>
      <td>{{Date}}</td>
      <td>{{Airplane_id}}</td>
    </tr>
  {{/each}}
</table>

<p>삭제하고 싶은 항공사 번호, 운항 경로 번호 그리고 날짜를 입력해주세요.</p>
<p>[주의! 날짜는 yyyy-mm-dd 형식으로 입력해주세요]</p>

<form method="post" action='/delete/leg_instance'>
    <tr>
      <td><input type ="text" name="Flight_number" placeholder= "항공사 번호"></td>
      <td><input type ="text" name="Leg_number" placeholder= "운항 경로 번호"></td>
      <td><input type ="text" name="Date" placeholder= "날짜"></td>
      <td><input type = "submit" value = "삭제" formaction = "/delete/leg_instance"></td>
    </tr>