                <button onclick="location.href='/select'">조회 페이지로 이동</button >
                <button onclick="location.href='/insert'">입력 페이지로 이동</button >
                <button onclick="location.href='/update'">수정 페이지로 이동</button >
                <button onclick="location.href='/delete'">삭제 페이지로 이동</button >
                <button onclick="location.href='/'">로그아웃</button >
<h1>{{ title }}</h1>
<table>
    <tr>
        <td>항공기 번호</td>
        <td>항공기 종류</td>
    </tr>
  {{#each Airplane}}
    <tr>
      <td>{{Airplane_id}}</td>
      <td>{{Airplane_type}}</td>
    </tr>
  {{/each}}
</table>

<h1>항공기 종류</h1>
<p>여기서 항공기 종류를 확인하고 현재 테이블에 있는 종류로 변경해주세요.</p>
<table>
    <tr>
        <td>항공기 종류</td>
        <td>좌석 개수</td>
    </tr>
  {{#each Airplane_type}}
    <tr>
      <td>{{Airplane_type_name}}</td>
      <td>{{Max_seats}}</td>
    </tr>
  {{/each}}
</table>

<p>수정하고 싶은 값을 입력하고 나머지 빈칸을 채워주세요.</p>
<p> [주의! 항공기 번호는 수정이 불가합니다.] </p>

<form method="post" action='/update/airplane'>
    <tr>
      <td><input type ="text" name="Airplane_id" placeholder= "항공기 번호"></td>
      <td><input type ="text" name="Airplane_type" placeholder= "항공기 종류"></td>
      <td><input type = "submit" value = "수정" formaction = "/update/airplane"></td>
    </tr>