<h1>{{title}}</h1>

<ul>
    {{#each users}}
        <li>
                {{Name}} / {{StudentNumber}} / {{StudentYear}} / {{StudentMajor}} / {{StudentEmail}}
            </a>
        </li>
    {{/each}}
</ul>